<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="d4uDAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="d4uDAL.Properties.Settings.data4usConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\data4us.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <d4uDAL.Properties.Settings>
            <setting name="stringconexao" serializeAs="String">
                <value>server=&lt;dominio&gt;\&lt;nomservidor&gt;;database=data4us;user=&lt;usuariobanco&gt;;pwd=&lt;senhausuariobanco&gt;</value>
            </setting>
            <setting name="chavepublica" serializeAs="String">
                <value />
            </setting>
            <setting name="validadelicenca" serializeAs="String">
                <value />
            </setting>
            <setting name="banco" serializeAs="String">
                <value>bancodedados</value>
            </setting>
        </d4uDAL.Properties.Settings>
    </userSettings>
</configuration>