<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="d4uMODELS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <d4uMODELS.Properties.Settings>
            <setting name="stringconexao" serializeAs="String">
                <value>server=dforsys\NAGUAL;database=data4us;user=sa;pwd=ew34yr2!@</value>
            </setting>
        </d4uMODELS.Properties.Settings>
    </userSettings>
</configuration>