<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="d4uUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <d4uUI.Properties.Settings>
            <setting name="stringconexao" serializeAs="String">
                <value />
            </setting>
            <setting name="weeknumberingmethod" serializeAs="String">
                <value>ISO-8601</value>
            </setting>
            <setting name="tipoagrupamentopadrao" serializeAs="String">
                <value>Diário</value>
            </setting>
            <setting name="Idioma" serializeAs="String">
                <value />
            </setting>
        </d4uUI.Properties.Settings>
    </userSettings>
</configuration>